
<div class="header-bar">
  <% if user_signed_in? %>
    <div class="header-actions">
      <p class="summary-text">Welcome, <%= current_user.email %>!</p>
      <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: "logout-button",data: { turbo: "false" } ) %>
    </div>
  <% else %>
    <div class="auth-buttons">
      <%= button_to("Sign in", new_user_session_path, class: "auth-button",data: { turbo: "false" }) %>
      <%= button_to("Sign up", new_user_registration_path, method: :get, class: "auth-button",data: { turbo: "false" }) %>
    </div>
  <% end %>
</div>


<div class="container">
  <aside class="sidebar">
    <h1>Jose Luis Rico Ramos</h1>
    <p>Software Engineer & Backend Developer</p>
    <ul class="menu">
      <li><button id="homeBtn">Home</button></li>
      <li><button id="projectsBtn">Projects</button></li>
      <li><button id="infoBtn">Info</button></li>
      <li><button id="contactBtn">Contact</button></li>
      <li><button id="APIBtn">API</button></li>
    </ul>
  </aside>
  <main class="content">
    <section id="intro">
      <p>Nacido en 1994 en Osaka, Japón. Creo que el diseño web puede ser más diverso e inspirador...</p>
    </section>

    <!-- Sección Projects -->
    <section id="projects" class="hidden">
      <ul>
        <li>Jul. 2024 / Portfolio / Dev - emuni</li>
        <li>Apr. 2024 / Special / Design & Dev - UNDER VOYAGER</li>
        <li>Feb. 2024 / Portfolio / Design & Dev - obake.blue</li>
        <li>Jan. 2024 / Portfolio / Design & Dev - cocoon records</li>
      </ul>
    </section>

    <!-- Sección API -->
    <section id="api" class="hidden">
      <% if @weather_data %>
        <h2>Current Weather</h2>
        <p>Temperature: <%= @weather_data['hourly']['temperature_2m'].first %>°C</p>
        <p>Relative Humidity: <%= @weather_data['hourly']['relative_humidity_2m'].first %>%</p>
        <p>Wind Speed: <%= @weather_data['hourly']['wind_speed_120m'].first %> km/h</p>

        <h2>Forecast for the next 3 days</h2>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Max Temperature (°C)</th>
              <th>Min Temperature (°C)</th>
              <th>Average Relative Humidity (%)</th>
              <th>Average Wind Speed (km/h)</th>
            </tr>
          </thead>
          <tbody>
            <% @weather_data['hourly']['time'].each_slice(24).with_index do |times, index| %>
              <% next if index >= 3 %>
              <tr>
                <td><%= times.first.to_date %></td>
                <td><%= @weather_data['hourly']['temperature_2m'][index*24, 24].max %></td>
                <td><%= @weather_data['hourly']['temperature_2m'][index*24, 24].min %></td>
                <td><%= (@weather_data['hourly']['relative_humidity_2m'][index*24, 24].sum / 24.0).round(2) %></td>
                <td><%= (@weather_data['hourly']['wind_speed_120m'][index*24, 24].sum / 24.0).round(2) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No weather data available.</p>
      <% end %>
    </section>

    <!-- Sección Info -->
    <section id="info" class="hidden">
      <h2>Info</h2>
      <ul>
        <li><a href="https://www.linkedin.com/in/jlricoramos/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/RiiC0Chet" target="_blank">GitHub</a></li>
      </ul>
    </section>

    <!-- Sección Contact -->
    <section id="contact" class="hidden">
      <h2>Contact Me</h2>
      <div class="contact-form">
        <%= form_with url: contacts_path, method: :post, local: true do |form| %>
          <div class="form-group">
            <%= form.label :email, "Email", class: "form-label" %>
            <%= form.email_field :email, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.label :subject, "Subject", class: "form-label" %>
            <%= form.text_field :subject, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.label :message, "Message", class: "form-label" %>
            <%= form.text_area :message, class: "form-control", rows: 5, required: true %>
          </div>
          <div class="form-group">
            <%= form.submit "Enviar", class: "btn" %>
          </div>
        <% end %>
      </div>
    </section>



  </main>
</div>
