<div class="user-show">
  <div class="profile-header">
    <div class="avatar">
      <%= image_tag @user.avatar, class: 'avatar' %>
    </div>
    <div class="user-info">
      <h1>Jose Luis Rico Ramos</h1>
      <p> Software Eng.. | ... </p>
    </div>

    <div class="education-section">
      <h2 class="education-section-title">Education</h2>
      <div class="educations">
        <% @user.educations.each do |education| %>
          <%= link_to education_path(education), class: "education-card" do %>
            <div class="education-icon">
              <%= image_tag education.avatar, size: "30x30" if education.avatar.attached? %>
            </div>
            <div class="education-content">
              <div class="education-title">
                <h3><%= education.title %></h3>
              </div>
            </div>
          <%end%>
        <% end %>
      </div>
    </div>

    <div class="education-section">
      <h2 class="education-section-title">Experience</h2>
      <div class="educations">

        <% @user.experiences.each do |experience| %>
          <%= link_to experience_path(experience), class: "education-card" do %>
            <div class="education-icon">
              <%= image_tag experience.avatar, size: "50x50" if experience.avatar.attached? %>
            </div>
            <div class="education-content">
              <div class="education-title">
                <h3><%= experience.title %></h3>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>

  </div>

  <div class="summary">
    <p class="summary-text"> Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
  </div>

  <div class="sections">
    <div class="section">
      <h2 class="section-title">Projects</h2>
      <div class="projects">
        <% @user.projects.each do |project| %>
          <%= link_to project_path(project), class: "project-card-link" do %>
            <div class="project-icon">
              <%= image_tag project.avatar, size: "50x50" if project.avatar.attached? %>
            </div>
            <div class="project-content">
              <div class="project-title">
                <h3><%= project.title %></h3>
              </div>
              <div class="project-description">
                <p><%= project.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <!-- Formulario de contacto -->
  <div class="contact-form mt-4">
    <h2 class="section-title">Contact Me</h2>
      <%= form_with url: contacts_path , method: :post, local: true do |form| %>
        <div class="form-group">
          <%= form.label :email, "Email", class: "form-label" %>
          <%= form.email_field :email, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= form.label :subject, "Asunto", class: "form-label" %>
          <%= form.text_field :subject, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= form.label :message, "Texto", class: "form-label" %>
          <%= form.text_area :message, class: "form-control", rows: 5, required: true %>
        </div>
        <div class="form-group">
          <%= form.submit "Enviar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

</div>