<script>
  const projects = <%= @projects.to_json.html_safe %>;
</script>

<div class="header-bar">
  <% if user_signed_in? %>
    <div class="header-actions">
      <p class="summary-text">Welcome, <%= current_user.email %>!</p>
      <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: "logout-button",data: { turbo: "false" } ) %>
    </div>
  <% else %>
    <div class="auth-buttons">
      <%= button_to("Sign in", new_user_session_path, class: "auth-button",data: { turbo: "false" }) %>
      <%= button_to("Sign up", new_user_registration_path, method: :get, class: "auth-button",data: { turbo: "false" }) %>
    </div>
  <% end %>
</div>


<div class="container">
  <aside class="sidebar">
    <h1>Jose Luis Rico Ramos</h1>
    <p>Software Engineer & Backend Developer</p>
    <ul class="menu">
      <li><button id="homeBtn">Home</button></li>
      <li><button id="projectsBtn">Projects</button></li>
      <li><button id="infoBtn">Info</button></li>
      <li><button id="contactBtn">Contact</button></li>
      <li><button id="APIBtn">API</button></li>
    </ul>
  </aside>
  <main class="content">

    <section id="intro">
      <div class="avatar-container">
        <%= image_tag @user.avatar, size: "250x250", class: "user-avatar" if @user.avatar.attached? %>
      </div>
      <h1 class="intro-title">Hi, I´m Jose :)</h1>
      <p class="intro-paragraph intro-paragraph-top">A software engineer with a great affection for the backend. Experienced in creating scalable, testable, reliable and maintainable applications that deliver great value!</p>
      <p class="intro-paragraph">...In case you haven't noticed... This portfolio itself is a web application! Take a look at all the features it has:</p>
      
      <ul class="features-list">
        <li>User management</li>
        <li>Weather API (you can adjust it by entering your coordinates)</li>
        <li>It has its own DDBB (PostgreSQL)</li>
        <li>Architectural pattern MVP</li>
        <li>Models and views relationships</li>
        <li>Mailer (If you want to contact me, don't hesitate!)</li>
        <li>Administration panel (RailsAdmin)</li>
        <li>Data Security</li>
        <li>File Systems (with avatars for the models)</li>
        <li>Security and Authorization (Pundit way)</li>
      </ul>
    </section>

    <!-- Sección Projects -->
    <section id="projects" class="projects-list hidden">
      <ul>
        <% @user.projects.each do |project| %>
          <li>
            <span class="date">
              <% project.technologies.each do |technology| %>
                <%= technology %><% if technology != project.technologies.last %>, <% end %>
              <% end %>
            </span> / 

            <span class="project">
              <a href="#" onclick="showProjectDetails(<%= project.id %>); return false;"><%= project.title %></a>
            </span>

            <span>
              <%= image_tag project.avatar, size: "50x50" if project.avatar.attached? %>
            </span>

          </li>
        <% end %>
      </ul>
    </section>

    <!-- Sección Project Details -->
    <section id="project-details" class="hidden">
      
      <h2 class="api-title" id="project-title"></h2>
      <div class="project-avatar-container">
        <img id="project-avatar" src="" alt="Project Avatar" class="project-avatar">
      </div>
          <h2 class="api-title" id="project-title"></h2>
      <div class="project-info">
        <h3>Description:</h3>
        <p id="project-description"></p>
      </div>
      <div class="project-info">
        <h3>Technologies:</h3>
        <p id="project-technologies"></p>
      </div>
      <div class="project-info">
        <h3>Features:</h3>
        <ul id="project-features"></ul>
      </div>
      <div class="project-info" id="project-github-container">
        <h3>GitHub:</h3>
        <p id="project-github"></p>
      </div>
      <button class="btn" onclick="showProjectsList()">Back to Projects</button>
    </section>

    <!-- Sección API -->
    <section id="api" class="api-section hidden">
      <h2 class="api-title">Weather Information</h2>
      <%= form_with url: user_path(@user), method: :get, local: true, id: "weather-form", class: "weather-form" do %>
        <div class="form-group">
          <%= label_tag :latitude, "Latitude" %>
          <%= text_field_tag :latitude, params[:latitude], class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :longitude, "Longitude" %>
          <%= text_field_tag :longitude, params[:longitude], class: "form-control" %>
        </div>
        <%= submit_tag "Get Weather", class: "btn btn-primary" %>
      <% end %>

      <% if @weather_data %>
        <h2 class="api-title">Current Weather</h2>
        <div class="weather-info">
          <p class="weather-detail">Temperature: <%= @weather_data['hourly']['temperature_2m'].first %>°C</p>
          <p class="weather-detail">Relative Humidity: <%= @weather_data['hourly']['relative_humidity_2m'].first %>%</p>
          <p class="weather-detail">Wind Speed: <%= @weather_data['hourly']['wind_speed_120m'].first %> km/h</p>
        </div>

        <h2 class="api-title">Forecast for the next 3 days</h2>
        <table class="weather-forecast">
          <thead>
            <tr>
              <th>Date</th>
              <th>Max Temperature (°C)</th>
              <th>Min Temperature (°C)</th>
              <th>Average Relative Humidity (%)</th>
              <th>Average Wind Speed (km/h)</th>
            </tr>
          </thead>
          <tbody>
            <% @weather_data['hourly']['time'].each_slice(24).with_index do |times, index| %>
              <% next if index >= 3 %>
              <tr>
                <td><%= times.first.to_date %></td>
                <td><%= @weather_data['hourly']['temperature_2m'][index*24, 24].max %></td>
                <td><%= @weather_data['hourly']['temperature_2m'][index*24, 24].min %></td>
                <td><%= (@weather_data['hourly']['relative_humidity_2m'][index*24, 24].sum / 24.0).round(2) %></td>
                <td><%= (@weather_data['hourly']['wind_speed_120m'][index*24, 24].sum / 24.0).round(2) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="no-data">No weather data available.</p>
      <% end %>
    </section>

    <!-- Sección Info -->
    <section id="info" class="hidden">
      <ul>
        <li><a href="https://www.linkedin.com/in/jlricoramos/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/RiiC0Chet" target="_blank">GitHub</a></li>
        <li><a href="https://drive.google.com/file/d/14qDwaP1jy6EUl-rZU2XJTO6qLaEDVPts/view?usp=sharing" target="_blank">CV/Resume</a></li>
      </ul>
    </section>

    <!-- Sección Contact -->
    <section id="contact" class="hidden">
      <h2>Contact Me</h2>
      <div class="contact-form">
        <%= form_with url: contacts_path, method: :post, local: true do |form| %>
          <div class="form-group">
            <%= form.label :email, "Email", class: "form-label" %>
            <%= form.email_field :email, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.label :subject, "Subject", class: "form-label" %>
            <%= form.text_field :subject, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.label :message, "Message", class: "form-label" %>
            <%= form.text_area :message, class: "form-control", rows: 5, required: true %>
          </div>
          <div class="form-group">
            <%= form.submit "Enviar", class: "btn" %>
          </div>
        <% end %>
      </div>
    </section>



  </main>
</div>
