<div class="field">

<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :features %>
    <%= form.text_field :features, value: project.features.join(", ") %>
  </div>

  <div class="field">
    <%= form.label :technologies %>
    <%= form.text_field :technologies, value: project.technologies.join(", ") %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :user_id, "User" %>
    <%= form.collection_select :user_id, User.all, :id, :email, prompt: "Select User" %>
  </div>

  <div class="field">
  <%= form.label :experience_id, "Experience" %>
  <%= form.collection_select :experience_id, Experience.all, :id, :title, prompt: "Select Experience" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>