<div class="field">

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Features:</strong>
  <%= @project.features.join(", ") %>
</p>

<p>
  <strong>Technologies:</strong>
  <%= @project.technologies.join(", ") %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @project.avatar, size: "100x100" if @project.avatar.attached? %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

</div>