<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Include Jersey 10 font -->
    <link href="https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap" rel="stylesheet">

  </head>

<body>
  <div style="text-align: right;">
    <% if user_signed_in? %>
      <div class="header-actions">
        <p class="summary-text">Welcome, <%= current_user.email %>!</p>
        <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: "logout-button" ) %>
      </div>
    <% else %>
      <div class="auth-buttons">
        <%= button_to("Sign in", new_user_session_path, class: "auth-button") %>
        <%= button_to("Sign up", new_user_registration_path, class: "auth-button") %>
      </div>
    <% end %>
  </div>

  <%= yield %>
</body>

</html>
